<!doctype html>
<html lang="en">
    <head>
        <title>Pete Naish | {% block title %}{{model.title}}{% endblock %}</title>
        {% include "meta-tags" %}
        {% include "favicons" %}
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Pete Naish's Blog">
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400' rel='stylesheet' type='text/css'>
        {{ "app.css" | asset_url | stylesheet_tag }}
    </head>
    <body>
        {% include "header" %}
        <section class="introduction--fancy"{% if model.image %}style="background-image: url(/assets/img/content/{{model.image}});"{% endif %}>
            <h1>{{model.title}}</h1>
        </section>
        <section class="blog">
            <article class="blog__post">
                <div class="wrapper">
                    {% assign post = model %}
                    {% block content %}{% endblock %}
                    {% include "articles/article-meta" %}
                    <div id="disqus_thread"></div>
                </div>
            </article>
        </section>
        {% include "scripts" %}
        {% include "disqus" %}
        {{ "prism.js" | asset_url | script_tag }}
    </body>
</html>